_target_: src.models.Domain_disentangled_model.DomainDisentangledModule

optimizer:
  _target_: torch.optim.Adam
  _partial_: true
  lr: 0.00001
  weight_decay: 0.000001

scheduler:
  _target_: torch.optim.lr_scheduler.ReduceLROnPlateau
  _partial_: true
  mode: min
  factor: 0.75
  patience: 3

feature_extractor_num_layers: 6

domain_disentagled_image_feat:
  _target_: src.models.components.domain_disentangled_image_feat.Domain_Disentangled_Img_Feature
  num_classes: 79

domain_disentagled_shape_feat:
  _target_: src.models.components.domain_disentangled_shape_feat.Domain_Disentangled_Shape_Feature
  num_classes: 79

domain_classifier:
  _target_: src.models.components.domain_classifier.Domain_Classifier

domain_disentangled_semantic_encoder:
  _target_: src.models.components.domain_disentangled_semantic_encoder.Domain_Disentangled_Semantic_Encoder
  num_classes: 79

cross_modal_latent_loss:
  _target_: src.models.loss_functions.cross_modal_latent_loss.Cross_Modal_Latent_Loss

cross_modal_triplet_loss:
  _target_: src.models.loss_functions.cross_modal_triplet_loss.Cross_Modal_Triplet_Loss
  margin: 1.0

# feature_distance_loss:
#   _target_: src.models.loss_functions.feature_distance_loss.Feature_Distance_Loss

feature_distance_loss:
  _target_: src.models.loss_functions.mmd_loss.Maximum_Mean_Discrepancy_Loss

domain_classifier_loss:
  _target_: src.models.loss_functions.domain_classification.Domain_Classification_Loss

shape_feature_network:
  _target_: src.models.components.shape_feature_extractor_2.Shape_Feature_Extractor

image_feature_network:
  _target_: src.models.components.image_feature_extractor_2.Img_Feature_Extractor

image_network_weights: /raid/biplab/tanisha/tanisha/Saved_Weights/Img_Feature_Extractor/weight.ckpt

shape_network_weights: /raid/biplab/tanisha/tanisha/Saved_Weights/Shape_Featue_Extractor/weight_3.ckpt

lambda1: 0.1
lambda2: 3.0
lambda3: 1.0
lambda4: 2.0
# lambda4: 0.0

num_classes: 79

tsne_path: ${paths.tsne_path}

plot_tsne: False
