# @package _global_

defaults:
  - _self_
  - datamodule: shrec13_triplet.yaml # choose datamodule with `test_dataloader()` for evaluation
  - model: triplet_SHREC.yaml
  - logger: null
  - trainer: gpu.yaml
  - paths: triplet.yaml
  - extras: default.yaml
  - hydra: default.yaml

task_name: "eval"

tags: ["dev"]

# passing checkpoint path is necessary for evaluation
ckpt_path: /mnt/elk/data/valaybun/other_users/vinit/logs/My_model_1/lr3e-5/checkpoints/last.ckpt
